@model UET_CSE.Models.DateSheetViewModel

@{
    Layout = "~/Views/Shared/StudentLoginLayout.cshtml";
}
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <table data-vertable="ver1">
                    <thead>
                        <tr class="row100 head">
                            <th class="column100 column1" data-column="column1">
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th class="column100 column2" data-column="column2">
                                @Html.DisplayNameFor(model => model.Subject)
                            </th>
                            <th class="column100 column3" data-column="column3">
                                @Html.DisplayNameFor(model => model.Program)
                            </th>
                            <th class="column100 column4" data-column="column4">
                                @Html.DisplayNameFor(model => model.SupritendentName)
                            </th>
                            <th class="column100 column5" data-column="column5">
                                @Html.DisplayNameFor(model => model.Time)
                            </th>
                            <th class="column100 column6" data-column="column6">
                                @Html.DisplayNameFor(model => model.Hall)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">Monday October 29,2018</td>
                            <td class="column100 column2" data-column="column2">Probability and Random Variable</td>
                            <td class="column100 column3" data-column="column3">
                                CE<br>
                                CS
                            </td>
                            <td class="column100 column4" data-column="column4">Miss Hina Khalid(A) <br>Dr Irfan Ullah Ch.</td>
                            <td class="column100 column5" data-column="column5">11:00 am to 12:30 pm</td>
                            <td class="column100 column6" data-column="column6">N-9 <br> N-10</td>

                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">Tuesday October 29,2018</td>
                            <td class="column100 column2" data-column="column2">Probability and Random Variable</td>
                            <td class="column100 column3" data-column="column3">
                                CE<br>
                                CS
                            </td>
                            <td class="column100 column4" data-column="column4">Miss Hina Khalid(A) <br>Dr Irfan Ullah Ch.</td>
                            <td class="column100 column5" data-column="column5">11:00 am to 12:30 pm</td>
                            <td class="column100 column6" data-column="column6">N-9 <br> N-10</td>

                        </tr>
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">Tuesday October 29,2018</td>
                            <td class="column100 column2" data-column="column2">Probability and Random Variable</td>
                            <td class="column100 column3" data-column="column3">
                                CE<br>
                                CS
                            </td>
                            <td class="column100 column4" data-column="column4">Miss Hina Khalid(A) <br>Dr Irfan Ullah Ch.</td>
                            <td class="column100 column5" data-column="column5">11:00 am to 12:30 pm</td>
                            <td class="column100 column6" data-column="column6">N-9 <br> N-10</td>

                        </tr>
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">Tuesday October 29,2018</td>
                            <td class="column100 column2" data-column="column2">Probability and Random Variable</td>
                            <td class="column100 column3" data-column="column3">
                                CE<br>
                                CS
                            </td>
                            <td class="column100 column4" data-column="column4">Miss Hina Khalid(A) <br>Dr Irfan Ullah Ch.</td>
                            <td class="column100 column5" data-column="column5">11:00 am to 12:30 pm</td>
                            <td class="column100 column6" data-column="column6">N-9 <br> N-10</td>

                        </tr>
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">Tuesday October 29,2018</td>
                            <td class="column100 column2" data-column="column2">Probability and Random Variable</td>
                            <td class="column100 column3" data-column="column3">
                                CE<br>
                                CS
                            </td>
                            <td class="column100 column4" data-column="column4">Miss Hina Khalid(A) <br>Dr Irfan Ullah Ch.</td>
                            <td class="column100 column5" data-column="column5">11:00 am to 12:30 pm</td>
                            <td class="column100 column6" data-column="column6">N-9 <br> N-10</td>

                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>