

@{
    Layout = "~/Views/Shared/StudentLoginLayout.cshtml";
}

<section class="event-form" style="background-color:aliceblue">
    <div class="container" style="background-color:aliceblue">
        <br><br><h1>@ViewBag.Title</h1><br><br>
        <form class="form-horizontal" action="/action_page.php">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="table100 ver1 m-b-110">

                    <table data-vertable="ver1">
                        <thead>
                            <tr class="row100 head">
                                <th class="column100 column1" data-column="column1"></th>
                                <th class="column100 column2" data-column="column2">8:00 to 9:00 (am)</th>
                                <th class="column100 column3" data-column="column3">9:00 to 10:00 (am)</th>
                                <th class="column100 column4" data-column="column4">10:00 to 11:00 (am)</th>
                                <th class="column100 column5" data-column="column5">11:00 to 12:00 (am)</th>
                                <th class="column100 column6" data-column="column6">12:00 to 1:00 (pm)</th>
                                <th class="column100 column7" data-column="column7">1:00 to 2:00 (pm)</th>
                                <th class="column100 column8" data-column="column8">2:00 to 3:00 (pm)</th>
                                <th class="column100 column9" data-column="column9">3:00 to 4:00 (pm)</th>
                            </tr>
                        </thead>
                        @{
                            List<UET_CSE.Models.DisplayTimeTable> list = new List<UET_CSE.Models.DisplayTimeTable>();
                            list = (List<UET_CSE.Models.DisplayTimeTable>)ViewBag.List;
                        }
                        <tbody>


                            @foreach (var item in list)
                            {
                                <tr class="row100">
                                    @if (item.Day == "Monday")
                                    {
                                        <td class="column100 column1" data-column="column1">
                                            @Html.DisplayFor(modelItem => item.Day)
                                        </td>
                                        <td class="column100 column2" data-column="column2">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation1)
                                        </td>

                                        <td class="column100 column3" data-column="column3">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation2)
                                        </td>
                                        <td class="column100 column4" data-column="column4">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation3)
                                        </td>
                                        <td class="column100 column5" data-column="column5">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation4)
                                        </td>
                                        <td class="column100 column6" data-column="column6">
                                            Break
                                        </td>
                                        <td class="column100 column7" data-column="column7">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation5)
                                        </td>
                                        <td class="column100 column8" data-column="column8">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation6)
                                        </td>
                                        <td class="column100 column9" data-column="column9">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation7)
                                        </td>
                                    }

                                    else if (item.Day == "Tuesday")
                                    {
                                        <td class="column100 column1" data-column="column1">
                                            @Html.DisplayFor(modelItem => item.Day)
                                        </td>
                                        <td class="column100 column2" data-column="column2">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation1)
                                        </td>

                                        <td class="column100 column3" data-column="column3">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation2)
                                        </td>
                                        <td class="column100 column4" data-column="column4">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation3)
                                        </td>
                                        <td class="column100 column5" data-column="column5">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation4)
                                        </td>
                                        <td class="column100 column6" data-column="column6">
                                            Break
                                        </td>
                                        <td class="column100 column7" data-column="column7">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation5)
                                        </td>
                                        <td class="column100 column8" data-column="column8">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation6)
                                        </td>
                                        <td class="column100 column9" data-column="column9">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation7)
                                        </td>
                                    }
                                    else if (item.Day == "Wednesday")
                                    {
                                        <td class="column100 column1" data-column="column1">
                                            @Html.DisplayFor(modelItem => item.Day)
                                        </td>
                                        <td class="column100 column2" data-column="column2">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation1)
                                        </td>


                                        <td class="column100 column3" data-column="column3">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation2)
                                        </td>
                                        <td class="column100 column4" data-column="column4">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation3)
                                        </td>
                                        <td class="column100 column5" data-column="column5">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation4)
                                        </td>
                                        <td class="column100 column6" data-column="column6">
                                            Break
                                        </td>
                                        <td class="column100 column7" data-column="column7">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation5)
                                        </td>
                                        <td class="column100 column8" data-column="column8">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation6)
                                        </td>
                                        <td class="column100 column9" data-column="column9">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation7)
                                        </td>
                                    }
                                    else if (item.Day == "Thursday")
                                    {
                                        <td class="column100 column1" data-column="column1">
                                            @Html.DisplayFor(modelItem => item.Day)
                                        </td>
                                        <td class="column100 column2" data-column="column2">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation1)
                                        </td>

                                        <td class="column100 column3" data-column="column3">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation2)
                                        </td>
                                        <td class="column100 column4" data-column="column4">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation3)
                                        </td>
                                        <td class="column100 column5" data-column="column5">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation4)
                                        </td>
                                        <td class="column100 column6" data-column="column6">
                                            Break
                                        </td>
                                        <td class="column100 column7" data-column="column7">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation5)
                                        </td>
                                        <td class="column100 column8" data-column="column8">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation6)
                                        </td>
                                        <td class="column100 column9" data-column="column9">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation7)
                                        </td>
                                    }

                                    else if (item.Day == "Friday")
                                    {
                                        <td class="column100 column1" data-column="column1">
                                            @Html.DisplayFor(modelItem => item.Day)
                                        </td>
                                        <td class="column100 column2" data-column="column2">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation1)
                                        </td>

                                        <td class="column100 column3" data-column="column3">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation2)
                                        </td>
                                        <td class="column100 column4" data-column="column4">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation3)
                                        </td>
                                        <td class="column100 column5" data-column="column5">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation4)
                                        </td>
                                        <td class="column100 column6" data-column="column6">
                                            Break
                                        </td>
                                        <td class="column100 column7" data-column="column7">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation5)
                                        </td>
                                        <td class="column100 column8" data-column="column8">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation6)
                                        </td>
                                        <td class="column100 column9" data-column="column9">
                                            @Html.DisplayFor(modelItem => item.SubjectAbbreviation7)
                                        </td>
                                    }


                                </tr>
                            }

                        </tbody>
                    </table>

                </div>

                <div class="table100 ver1 m-b-50">
                    <table data-vertable="ver1">
                        <thead>
                            <tr class="row100 head">

                                <th class="column100 column1" data-column="column1">
                                    Subject Abbreviation
                                </th>
                                <th class="column100 column2" data-column="column2">Subject Name</th>
                                <th class="column100 column3" data-column="column3">Teacher</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<UET_CSE.Models.AddTimeTable> list1 = new List<UET_CSE.Models.AddTimeTable>();
                                list1 = (List<UET_CSE.Models.AddTimeTable>)ViewBag.List2;
                            }
                            @foreach (var item in list1)
                            {
                                <tr class="row100">
                                    <td class="column100 column1" data-column="column1">@Html.DisplayFor(modelItem => item.SubjectAbbreviation) </td>
                                    <td class="column100 column2" data-column="column2">@Html.DisplayFor(modelItem => item.SubjectName)</td>
                                    <td class="column100 column3" data-column="column3">@Html.DisplayFor(modelItem => item.TeacherName)</td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>


                
            </div>
        </form>
    </div><br><br><br>
</section>
