<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Table_Highlight_Vertical_Horizontal/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Highlight_Vertical_Horizontal/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Highlight_Vertical_Horizontal/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Highlight_Vertical_Horizontal/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Highlight_Vertical_Horizontal/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Highlight_Vertical_Horizontal/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Table_Highlight_Vertical_Horizontal/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Table_Highlight_Vertical_Horizontal/css/main.css">
    <!--===============================================================================================-->

</head>
<body>

    <header id="header" id="home" style="background-color:rgba(4,9,30,0.9)">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
                        <!--@*<ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>*@-->
                    </div>
                    <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
                        <!-- <a href="tel:+953 012 3654 896">@*<span class="lnr lnr-phone-handset"></span> <span class="text">+953 012 3654 896</span>*@</a>
                            <a href="mailto:support@colorlib.com">@*<span class="lnr lnr-envelope"></span> <span class="text">support@colorlib.com</span>*@</a>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="HomePage.html"><img src="~/img/250 50.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">

                        <li>@Html.ActionLink("Home", "HomePage", "Visitor")</li>
                        <li>@Html.ActionLink("About", "about", "Visitor")</li>
                        <li>@Html.ActionLink("Events", "Events", "Visitor")</li>
                        <li>@Html.ActionLink("Faculty", "Faculty", "Visitor")
                        <li>@Html.ActionLink("Achievement", "Achievement", "Visitor")</li>
                        <li>@Html.ActionLink("Date Sheet", "DateSheet", "Student")</li>
                        <li>@Html.ActionLink("Time Table", "TimeTable", "Student")</li>
                        <li>
                            @Html.ActionLink(User.Identity.Name, "TimeTable", "Student")
                            <ul>
                                <li>
                                    @Html.ActionLink("Change Password", "ChangePassword", "Account")
                                    @Html.ActionLink("Logout", "HomePage", "Visitor")
                                </li>
                            </ul>
                        </li>
                       
                        
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>

    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area relative about-banner" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        @ViewBag.Title
                    </h1>
                    <h2 class="text-white"> Fall 2018 </h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

        @RenderBody()
    

    <footer class="footer-area section-gap">
        <div class="container">

            <div class="footer-bottom row align-items-center justify-content-between">
                <p class="footer-text m-0 col-lg-6 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved <!--| This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>

            </div>
        </div>
    </footer>
    <!-- End footer Area -->


    <!--===============================================================================================-->
    <script src="~/Table_Highlight_Vertical_Horizontal/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Table_Highlight_Vertical_Horizontal/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Table_Highlight_Vertical_Horizontal/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Table_Highlight_Vertical_Horizontal/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Table_Highlight_Vertical_Horizontal/js/main.js"></script>

    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.tabs.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
