@model UET_CSE.Models.AddFaculty
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("FacultyDetail", "Visitor", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    <section class="course-details-area pt-120">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 left-co ntents">
                    <hr />
                    <div class="main-image">
                        @* <img class="img-fluid" src="@Url.Content(@ViewBag.Image)" alt="">
                        *@
                    </div>
                    <div class="jq-tab-wrapper" id="horizontalTab">
                    </div>
                </div>
                <div class="col-lg-4 right-contents">
                    <ul>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Teacher Name</p>
                                <span class="or">@Html.EditorFor(model => model.Name)</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Designation</p>
                                <span> @Html.EditorFor(model => model.Designation)</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Qualification </p>
                                <span>@Html.EditorFor(model => model.Qualification)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
}
