@{
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}

<section class="popular-course-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10"> <p id="Courses">We Ensure Your Best Future</h1></p>
                    <!--                        @*<p>There is a moment in the life of any aspiring.</p>*@ -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-popular-carusel">
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/BscComputerScience.jpg" alt="" style="width:263px;height:200px;">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                BSc. Computer Science
                            </h4>

                        </a>
                        <p>
                            A four years degree program leading towards a B.Sc. (Honours) Computer Science was introduced by the department in 1999 and another 4 years B.Sc. program in Computer Science and Engineering in 2001. For students enrolling from September 2003 onwards, B.Sc programs have been re-named and modified into four years B.Sc. Computer Science (CS).
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/program-comp-eng.jpg" alt="" style="width:263px;height:200px;">
                        </div>
                        <div class="meta d-flex justify-content-between">

                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                BSc. Computer Engineering
                            </h4>
                        </a>
                        <p>
                            A four years degree program leading towards a B.Sc. (Honours) Computer Science was introduced by the department in 1999 and another 4 years B.Sc. program in Computer Science and Engineering in 2001. For students enrolling from September 2003 onwards, B.Sc programs have been re-named and modified into four years B.Sc. Computer Science (CS).
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/p3.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--@*<p><span class="lnr lnr-users"></span> </p> @*355 <span class="lnr lnr-bubble"></span>35</p>
                                <h4>$150</h4>*@
                            -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                MSc. Computer Science
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">

                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/p4.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--                                @*<p><span class="lnr lnr-users"></span> @*355 <span class="lnr lnr-bubble"></span>35*@
                                                            @* <h4>$150</h4>*@
                                   -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                MSc. Computer Engineering
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/p1.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--                   @*<p><span class="lnr lnr-users"></span> @*355 <span class="lnr lnr-bubble"></span>35*@
                                   -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Phd. Computer Science
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/p3.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--@*<p><span class="lnr lnr-users"></span> @*55 <span class="lnr lnr-bubble"></span>35*@
                            -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Phd. Computer Engineering
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/p4.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--@*<p><span class="lnr lnr-users"></span> @*355 <span class="lnr lnr-bubble"></span>*@
                            @*<h4>$150</h4>*@
                            -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                BSCS
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start upcoming-event Area -->
<section class="upcoming-event-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">

                    <h1 class="mb-10"> <p id="Events"> Upcoming Events of UET CSE</h1></p>
                    <p>
                        Upcoming Events of the department of CSE, Uet Lahore <a href="http://localhost:11751/Visitor/Events" class="genric-btn primary small" style="background-color:rgba(4,9,30,0.9)">Events</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-upcoming-event-carusel">
                @{
                    foreach (var item in ViewBag.Events)
                    {
                        <div class="single-carusel row align-items-center">
                            <div class="col-12 col-md-6 thumb">
                                <img class="img-fluid" src="@Url.Content(@item.ImagePath)" style="width:263px;height:200px;">
                            </div>
                            <div class="detials col-12 col-md-6">
                                <p>@item.Start_Date - @item.End_Date</p>
                                <a href="http://localhost:11751/Visitor/EventsDetail">
                                    <h4>
                                        @item.Event_Name
                                    </h4>
                                </a>
                                <p>
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    }
                }
                
                
</section>
<!-- End upcoming-event Area -->
<!-- Start Achievement Section-->
<section class="popular-course-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10"> <p id="Faculty">Faculty</p></h1>
                    <p>Faculty of CSE Department,UET Lahore <a href="http://localhost:11751/Visitor/Faculty" class="genric-btn primary small" style="background-color:rgba(4,9,30,0.9)">Faculty</a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-popular-carusel">
                @foreach (var item in ViewBag.Faculty)
                {
                    <div class="single-popular-carusel">
                        <div class="thumb-wrap relative">
                            <div class="thumb relative">
                                <div class="overlay overlay-bg"></div>
                                <img class="img-fluid" src="@Url.Content(@item.ImagePath)" alt="" style="width:263px;height:200px;">
                            </div>
                            <div class="meta d-flex justify-content-between">
                                <!--                @*  <p><span class="lnr lnr-users"></span>  <span @*class="lnr lnr-bubble"></span></p>*@
                                       -->
                                <br>
                            </div>
                        </div>
                        <div class="details">
                           
                            <h4>

                            @item.Name
                                <!--@Html.ActionLink((string)item.Name, "FacultyDetail", "Visitor", new { id = item.Id })
                            --></h4>
                            <p>
                                Designation : @item.Designation
                                <br />
                                Qualification : @item.Qualification
                                <br />
                            </p>
                        </div>
                    </div>
                }
                

            </div>
        </div>
</section>
<!-- End Faculty Section -->
<!-- Start Achievement Section-->
<section class="upcoming-event-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">

                    <h1 class="mb-10"> <p id="Achievements"> Achievements</h1></p>
                    <p>Achievements of CSE Department, UET Lahore     <a href="http://localhost:11751/Visitor/Achievement" class="genric-btn primary small" style="background-color:rgba(4,9,30,0.9)">Achievements</a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-upcoming-event-carusel">
                @foreach (var item in ViewBag.Achievements)
                {
                    <div class="single-carusel row align-items-center">
                        <div class="col-12 col-md-6 thumb">
                            <img class="img-fluid" src="@Url.Content(@item.Image_Path)" alt="" style="width:263px;height:200px;">
                        </div>
                        <div class="detials col-12 col-md-6">
                            <h4>
                                @Html.ActionLink((string)item.Name, "Achievement", "Visitor", new { @style = "font-weight:bold" })
                            </h4>
                                <p>
                                @item.Achievement
                                <br />
                                Name: @item.Name
                                <br />
                                Email: @item.Email<br>
                            </p>
                        </div>
                    </div>
                }               
            </div>
        </div>
</section>

