@model UET_CSE.Models.RegisterViewModel
@{
    ViewBag.Title = "Register Student";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <section class="event-form" style="background-color:aliceblue">
        <div class="container" style="background-color:aliceblue">
            <br><br><h2>@ViewBag.Title</h2><br><br>
            <form class="form-horizontal" action="/action_page.php">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.StudentName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.StudentName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.FatherName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.CNIC, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.CNIC, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.RegistrationNumber, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(m => m.RegistrationNumber, new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            Male
                            @Html.RadioButtonFor(model => model.Gender, "Male", new { @checked = true })
                            Female
                            @Html.RadioButtonFor(model => model.Gender, "Female")
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            A
                            @Html.RadioButtonFor(model => model.Section, "A", new { @checked = true })
                            B
                            @Html.RadioButtonFor(model => model.Section, "B")
                            C
                            @Html.RadioButtonFor(model => model.Section, "C")
                            D
                            @Html.RadioButtonFor(model => model.Section, "D")
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(m => m.Session, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Register" @*onclick="SendEmail()"*@ />
                        </div>
                    </div>
                </div>
            </form>
        </div><br /><br /><br />
    </section>
            }

            <script>
                var SendEmail = function () {
                    $.ajax({
                        type: "Post",
                        url: "/Account/SendMailToUser",
                        success: function (data) {
                            alert("Success")
                        }
                    })
                }
            </script>


