@model IEnumerable<UET_CSE.Models.AddAchievement>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm("ViewAchievement", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="event-form" style="background-color:aliceblue">
        <div class="container" style="background-color:aliceblue">
            <br><br><h2>@ViewBag.Title</h2><br><br>
            <form class="form-horizontal" action="/action_page.php">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Achievement_Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Achievement)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image_Path)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Achievement_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Achievement)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image_Path)
                            </td>
                            <td>
                                @Html.ActionLink("View", "UpdateAchievement", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </form>
        </div>
    </section>
}
