@model IEnumerable<UET_CSE.Models.Cours>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("ViewCourses", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="event-form" style="background-color:aliceblue">
        <div class="container" style="background-color:aliceblue">
            <br><br><h2>@ViewBag.Title</h2><br><br>
            <form class="form-horizontal" action="/action_page.php">
                @Html.AntiForgeryToken()
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SubjectCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubjectName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubjectAbbreviation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreditHours)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SemesterNumber)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectAbbreviation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreditHours)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SemesterNumber)
                            </td>
                            <td>
                                @Html.ActionLink("Update", "UpdateCourses", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "DeleteCourse", new { id = item.Id })
                            </td>
                        </tr>
                    }
                    </table>
                </form>
            </div><br /><br /><br />
        </section>

                }