@model IEnumerable<UET_CSE.Models.AddAcademic>

@{

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("ViewAcademic", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="event-form" style="background-color:aliceblue">
        <div class="container" style="background-color:aliceblue">
            <br><br><h2>@ViewBag.Title</h2><br><br>
            <form class="form-horizontal" action="/action_page.php">
                @Html.AntiForgeryToken()
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Degree_Program)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImagePath)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Degree_Program)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImagePath)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.ActionLink("Update", "UpdateAcademic", new { id = item.Id }) |

                                @Html.ActionLink("Delete", "DeleteAcademic", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </form>
        </div><br /><br /><br />
    </section>
}